<environment>
    <link rel="stylesheet" href="/css/Album.css" />
</environment>
<section class="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title"><a href="#"><span>Việt Nam</span></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title"><a href="#"><span>Âu Mĩ</span></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title"><a href="#"><span>Hàn Quốc</span></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title"><a href="#"><span>Hoa Ngữ</span></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title"><a href="#"><span>Hòa Tấu</span></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                            <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                        </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>