<!DOCTYPE html>
<html>
<head>
    <title>K-ICM - Zing Mp3 Official Account</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" type="text/css" href="Project.css">
</head>
<body>

<section>
    <div class="container">
        <div class="img-background">
    </div>
    <div class="container">
        <div class="kenh">
            <div class="avt">
                <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg">
            </div>
            <div class="name">
                <a href="#">K-ICM</a><br/>
                <p>185k người quan tâm</p>
            </div>
        </div>
        <a href="#">
        <div class="folow">
            <i class="fas fa-user-plus"></i>
            <span>Quan tâm</span>
         </div>
     </a>
     <div class="list">
        <ul>
            <a href=""><li style="border-bottom: 2px solid #65509e;
    color: #65509e; ">Trang chủ</li></a>
            <a href=""><li>Bài viết</li></a>
            <a href=""><li>Sự kiện</li></a>
            <a href=""><li>Bài hát</li></a>
            <a href=""><li>Playlist</li></a>
            <a href=""><li>Mv</li></a>
            <a href=""><li>Thông tin</li></a>           
        </ul>
     </div>
    </div>
    <div class="container" style="margin-top: 150px">
        <a href=""><div class="img-song">
            <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/1/5/1/0151bcc5dc64312a9b6d9d2245aab54c.jpg">
        </div>
        <div class="song">
            <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/1/5/1/0151bcc5dc64312a9b6d9d2245aab54c.jpg" style="width: 70px;height: 70px">
            <div class="name"> Ai Mang Cô Đơn Đi</div>
            <div class="cs">K-ICM,APJ</div>
        </div>
    </a>
    </div>
    <div class="info">
        <span>Bản hit được dự đoán sẽ phá đảo làng nhạc V-Pop “Ai Mang Cô Đơn Đi” đã <br/>chính thức có mặt trên Zing MP3.<br/><br/>
        Mở ngay Zing MP3 để không bỏ lỡ ca khúc mới của K-ICM và APJ nhé!</span>
    </div>
</section>




<section style="height: 200px;margin-top: 400px">
    <div class="container" style="position: absolute;z-index: 1;">
        <div class="album">
            Bài Hát
        </div>
        <a href="">
        <div class="play">
            <i class="fas fa-play"></i>
            <span>Nghe tất cả</span>
        </div>
    </a>
    <div class="list-group">
        <ul style="list-style: none;">
            <li style="line-height: 53px">
                <div class="stt" style="float: left; 
                   margin-top: 5px;">
                   <span>1</span>
               </div>
                   <a href="">
                <div class="song-play" style="float: left;"><img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg" style="width: 40px ;height: 40px;border-radius: 5px">
                    <span class="name-song">Sóng Gió</span>
                    <span class="cs">Jack,K-icm</span>
                </div></a>
                <div class="time">04:14</div>
                <a href="">
                <div class="icon" style="float: right;line-height: 30px;">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </a>
            </li>
            <li style="line-height: 53px">
                <div class="stt" style="float: left; 
                   margin-top: 5px;">
                   <span>2</span>
               </div>
                   <a href="">
                <div class="song-play" style="float: left;"><img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg" style="width: 40px ;height: 40px;border-radius: 5px">
                    <span class="name-song">Sóng Gió</span>
                    <span class="cs">Jack,K-icm</span>
                </div></a>
                <div class="time">04:14</div>
                <a href="">
                <div class="icon" style="float: right;line-height: 30px;">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </a>
            </li>
            <li style="line-height: 53px">
                <div class="stt" style="float: left; 
                   margin-top: 5px;">
                   <span>3</span>
               </div>
                   <a href="">
                <div class="song-play" style="float: left;"><img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg" style="width: 40px ;height: 40px;border-radius: 5px">
                    <span class="name-song">Sóng Gió</span>
                    <span class="cs">Jack,K-icm</span>
                </div></a>
                <div class="time">04:14</div>
                <a href="">
                <div class="icon" style="float: right;line-height: 30px;">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </a>
            </li>
            <li style="line-height: 53px">
                <div class="stt" style="float: left; 
                   margin-top: 5px;">
                   <span>4</span>
               </div>
                   <a href="">
                <div class="song-play" style="float: left;"><img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg" style="width: 40px ;height: 40px;border-radius: 5px">
                    <span class="name-song">Sóng Gió</span>
                    <span class="cs">Jack,K-icm</span>
                </div></a>
                <div class="time">04:14</div>
                <a href="">
                <div class="icon" style="float: right;line-height: 30px;">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </a>
            </li>
            <li style="line-height: 53px">
                <div class="stt" style="float: left; 
                   margin-top: 5px;">
                   <span>5</span>
               </div>
                   <a href="">
                <div class="song-play" style="float: left;"><img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg" style="width: 40px ;height: 40px;border-radius: 5px">
                    <span class="name-song">Sóng Gió</span>
                    <span class="cs">Jack,K-icm</span>
                </div></a>
                <div class="time">04:14</div>
                <a href="">
                <div class="icon" style="float: right;line-height: 30px;">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </a>
            </li>
        </ul>
    </div>
    </div>
</section>


<section style="margin-top: 200px;">
    <div class="container">
        <div class="album" style="margin-left: 18px;">
            Playlist
        </div>
       <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/covers/0/c/0c2187d0f119c5c8b291b7222dc5d599_1514265433.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#" style="color: black">Buồn Của Anh (Masew Mix)</a></h6>
                        <p class="bvh-item-singer text-center ">Đạt G,K-Icm,Masew</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="section2" style="margin-top: 70px;">
        <div class="container">
        <div class="album" style="margin-left: 18px;">
            Mv
        </div>
       <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Bạc Phận (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Sóng Gió (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Em Gì Ơi (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Con Trai Cưng (Single)</a></h6>
                        <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/covers/0/c/0c2187d0f119c5c8b291b7222dc5d599_1514265433.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#" style="color: black">Buồn Của Anh (Masew Mix)</a></h6>
                        <p class="bvh-item-singer text-center ">Đạt G,K-Icm,Masew</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section2" style="margin-top: 70px;">
        <div class="container">
        <div class="album" style="margin-left: 18px;">
             Đề Xuất Bởi Nghệ Sĩ
        </div>
       <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/c/3/a/fc3aa71eeea30d23eb7c36bca91cd891.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Những Bài Hát Hay Nhất Của K-ICM</a></h6>
                        <p class="bvh-item-singer text-center "></p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/5/4/0/7540fbc87a23ac44fb5b00b08db6a4b0.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Những bài hát gây nghiện</a></h6>
                        <p class="bvh-item-singer text-center "></p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/c/9/2/3c922992b7b64f40cc1a9f176c685f04.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">V-Pop Nhạc Mới nổi bật</a></h6>
                        <p class="bvh-item-singer text-center "></p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a href="">
                            <i class="far fa-play-circle"></i>
                        <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/0/1/4/7/01477521b69e1921bafe110a878aafdc.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Nhạc Việt Nghe Nhiều 2020</a></h6>
                        <p class="bvh-item-singer text-center "></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<section>
    <div class="container">
        <div class="row">
            <div class="wrapper2">
                <div class="col-album-circle">
                    <div class="img-container2">
                        <a href="">
                        <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/9/e/9/e9e9cef9599f670e6df227c87debc2fd.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="col-album-circle">
                    <div class="img-container2">
                        <a href="">
                        <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/5/4/5/f/545f634d91105696439b1bf7cee5341b.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="col-album-circle">
                    <div class="img-container2">
                        <a href="">
                        <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/c/1/4/0/c140ebb6799391799b29a8eabae217f5.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper2">
                <div class="col-album-circle">
                    <div class="img-container2">
                        <a href="">
                        <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/5/1/5/c/515c86b8f10cd8e44fa77f195d0c286f.jpg">
                    </a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
           <div class="wrapper2">
                <div class="col-album-circle">
                    <div class="img-container2">
                        <a href="">
                        <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/8/9/89338ce53557eaefbd61fcee4f9b901b_1512444828.jpg" style="border-radius: 100%;">
                    </a>
                   </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info"><h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
       </div>
    </div> 
</section>  
</body>
</html>