<environment>
    <link rel="stylesheet" href="/css/Singer.css" />
</environment>
<div class="casihot">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title" style="margin-top: 50px ;">
                    <a href="#"><span>Việt Nam</span></a>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a asp-controller="List" asp-action="Index">  <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg"></a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a asp-controller="List" asp-action="Index"><img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg"></a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a asp-controller="List" asp-action="Index">  <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg"></a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a asp-controller="List" asp-action="Index">  <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg"></a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a asp-controller="List" asp-action="Index">  <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg"></a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a asp-controller="List" asp-action="Index">  <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg"></a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a asp-controller="List" asp-action="Index">  <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg"></a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <a asp-controller="List" asp-action="Index">  <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/e/e/e/eeee188a74736ed2423d4231b6b41424.jpg"></a>
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title" style="margin-top: 50px;">
                    <a href="#"><span>Âu Mĩ</span></a>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a asp-controller="List" asp-action="Index">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
           
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title" style="margin-top: 50px;">
                    <a href="#"><span>Hoa Ngữ</span></a>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title" style="margin-top: 50px;">
                    <a href="#"><span>Hàn Quốc</span></a>
                </h2>
            </div>
        </div>
        <div class="row">
           
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="col-album-circle">
                    <div class="img-container">
                        <img src="img/project.jpg">
                    </div>
                </div>
                <div class="bvh-item">
                    <div class="bvh-item-info">
                        <h6 class="bvh-item-h3 text-center"><a href="#">Wonder</a></h6>
                        <p class="bvh-item-singer text-center ">72K quan tâm</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>