@model IQueryable<ArtistTrack> 

@foreach (var p in Model){
    <div class="row">
        <div class="col-md-5ths ">
            <a href="#">
                <div class="bvh-item-lnk d-block position-relative">
                    <img class="bvh-item-bg animated fadeInDown" style="position: absolute;z-index: 1; margin-bottom: 10px;" src="img/131115648_1548897918629512_5083590689306388122_n.png">
                    <img effect="opacity" class="bvh-item-img animated fadeInDown2" style="position: relative;z-index: 2" src="@p.Track.UrlImg">
                </div>
            </a>
            <div class="bvh-item">
                <div class="bvh-item-info">
                    <h6 class="bvh-item-h3 text-center"><a href="#">@p.Track.TrackName</a></h6>
                    <p class="bvh-item-singer author_show text-center text-truncate">@p.Artist.ArtistName</p>
                </div>
            </div>
        </div>
    </div>
        }

