<environment>
    <link rel="stylesheet" href="/css/Song.css" />
</environment>
<div class="row">
        <div class="row">
            <div class="col-md-12">
                <h5 class="bvh-h2-title " style="float:left"><a href="#" >Danh sách bài hát<span></span></a></h5>
            </div>
        </div>
        <div class="row">
            <div class="list-group">
                <div class="stt" style="float: left;margin-left: 23px">
                    <span>1</span>
                    <a href="#">
                        <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg"
                             style="width: 40px ;height: 40px;border-radius: 5px">
                    </a>
                    <span class="name-song"><a href="#">Sóng gió</a>  </span>
                    <span class="cs" style="">(<a href="#"> Jack</a> ,<a href="#"> K-icm</a>)</span>
                    <span class="time" style="padding-left: 200px;">04:14</span>
                    <span class="icon" style="margin-left: 200px;"><a href="#"><i class="fas fa-ellipsis-h"></i></a></span>
                </div>
            </div>
            <div class="list-group">
                <div class="stt" style="float: left;margin-left: 23px">
                    <span>1</span>
                    <a href="#">
                        <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg"
                             style="width: 40px ;height: 40px;border-radius: 5px">
                    </a>
                    <span class="name-song"><a href="#">Sóng gió</a>  </span>
                    <span class="cs" style="">(<a href="#"> Jack</a> ,<a href="#"> K-icm</a>)</span>
                    <span class="time" style="padding-left: 200px;">04:14</span>
                    <span class="icon" style="margin-left: 200px;"><a href="#"><i class="fas fa-ellipsis-h"></i></a></span>
                </div>
            </div>
            <div class="list-group">
                <div class="stt" style="float: left;margin-left: 23px">
                    <span>1</span>
                    <a href="#">
                        <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg"
                             style="width: 40px ;height: 40px;border-radius: 5px">
                    </a>
                    <span class="name-song"><a href="#">Sóng gió</a>  </span>
                    <span class="cs" style="">(<a href="#"> Jack</a> ,<a href="#"> K-icm</a>)</span>
                    <span class="time" style="padding-left: 200px;">04:14</span>
                    <span class="icon" style="margin-left: 200px;"><a href="#"><i class="fas fa-ellipsis-h"></i></a></span>
                </div>
            </div>
            <div class="list-group">
                <div class="stt" style="float: left;margin-left: 23px">
                    <span>1</span>
                    <a href="#">
                        <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg"
                             style="width: 40px ;height: 40px;border-radius: 5px">
                    </a>
                    <span class="name-song"><a href="#">Sóng gió</a>  </span>
                    <span class="cs" style="">(<a href="#"> Jack</a> ,<a href="#"> K-icm</a>)</span>
                    <span class="time" style="padding-left: 200px;">04:14</span>
                    <span class="icon" style="margin-left: 200px;"><a href="#"><i class="fas fa-ellipsis-h"></i></a></span>
                </div>
            </div>
            <div class="list-group">
                <div class="stt" style="float: left;margin-left: 23px">
                    <span>1</span>
                    <a href="#">
                        <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg"
                             style="width: 40px ;height: 40px;border-radius: 5px">
                    </a>
                    <span class="name-song"><a href="#">Sóng gió</a>  </span>
                    <span class="cs" style="">(<a href="#"> Jack</a> ,<a href="#"> K-icm</a>)</span>
                    <span class="time" style="padding-left: 200px;">04:14</span>
                    <span class="icon" style="margin-left: 200px;"><a href="#"><i class="fas fa-ellipsis-h"></i></a></span>
                </div>
            </div>
            <div class="list-group">
                <div class="stt" style="float: left;margin-left: 23px">
                    <span>1</span>
                    <a href="#">
                        <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg"
                             style="width: 40px ;height: 40px;border-radius: 5px">
                    </a>
                    <span class="name-song"><a href="#">Sóng gió</a>  </span>
                    <span class="cs" style="">(<a href="#"> Jack</a> ,<a href="#"> K-icm</a>)</span>
                    <span class="time" style="padding-left: 200px;">04:14</span>
                    <span class="icon" style="margin-left: 200px;"><a href="#"><i class="fas fa-ellipsis-h"></i></a></span>
                </div>
            </div>
            <div class="list-group">
                <div class="stt" style="float: left;margin-left: 23px">
                    <span>1</span>
                    <a href="#">
                        <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg"
                             style="width: 40px ;height: 40px;border-radius: 5px">
                    </a>
                    <span class="name-song"><a href="#">Sóng gió</a>  </span>
                    <span class="cs" style="">(<a href="#"> Jack</a> ,<a href="#"> K-icm</a>)</span>
                    <span class="time" style="padding-left: 200px;">04:14</span>
                    <span class="icon" style="margin-left: 200px;"><a href="#"><i class="fas fa-ellipsis-h"></i></a></span>
                </div>
            </div>
            <div class="list-group">
                <div class="stt" style="float: left;margin-left: 23px">
                    <span>1</span>
                    <a href="#">
                        <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg"
                             style="width: 40px ;height: 40px;border-radius: 5px">
                    </a>
                    <span class="name-song"><a href="#">Sóng gió</a>  </span>
                    <span class="cs" style="">(<a href="#"> Jack</a> ,<a href="#"> K-icm</a>)</span>
                    <span class="time" style="padding-left: 200px;">04:14</span>
                    <span class="icon" style="margin-left: 200px;"><a href="#"><i class="fas fa-ellipsis-h"></i></a></span>
                </div>
            </div>
        </div>
 </div>
<div class="casihot">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bvh-h2-title"><a href="#"><span>CA SĨ HOT</span></a></h2>
            </div>
        </div>
        <div class="row">
            <div class="colx ">
                <a href="#"> <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/1/5/1/0151bcc5dc64312a9b6d9d2245aab54c.jpg" style="width:150px" /></a>
                <a href="#"><h5>Shawn Mendes</h5></a>
            </div> 
            <div class="colx ">
                <a href="#"> <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/1/5/1/0151bcc5dc64312a9b6d9d2245aab54c.jpg" style="width:150px" /></a>
                <a href="#"><h5>Shawn Mendes</h5></a>
            </div> 
            <div class="colx ">
                <a href="#"> <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/1/5/1/0151bcc5dc64312a9b6d9d2245aab54c.jpg" style="width:150px" /></a>
                <a href="#"><h5>Shawn Mendes</h5></a>
            </div>  
            <div class="colx ">
                <a href="#"> <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/1/5/1/0151bcc5dc64312a9b6d9d2245aab54c.jpg" style="width:150px" /></a>
                <a href="#"><h5>Shawn Mendes</h5></a>
            </div> 
            <div class="colx ">
                <a href="#"> <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/1/5/1/0151bcc5dc64312a9b6d9d2245aab54c.jpg" style="width:150px" /></a>
                <a href="#"><h5>Shawn Mendes</h5></a>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="wrapper">
        <div class="col-album-circle">
            <div class="img-container">
                <a href="">
                    <i class="far fa-play-circle"></i>
                    <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/5/3/425334e6f252b8c34d74d16177a5eb9d.jpg">
                </a>
            </div>
        </div>
        <div class="bvh-item">
            <div class="bvh-item-info">
                <h6 class="bvh-item-h3 text-center"><a asp-controller="Song" asp-action="Index">Bạc Phận (Single)</a></h6>
                <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="col-album-circle">
            <div class="img-container">
                <a href="">
                    <i class="far fa-play-circle"></i>
                    <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/3/6/c/836cf31f036fb8f89b78cfd07cd77477.jpg">
                </a>
            </div>
        </div>
        <div class="bvh-item">
            <div class="bvh-item-info">
                <h6 class="bvh-item-h3 text-center"><a asp-controller="Song" asp-action="Index">Sóng Gió (Single)</a></h6>
                <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="col-album-circle">
            <div class="img-container">
                <a href="">
                    <i class="far fa-play-circle"></i>
                    <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/5/3/f/353f305006cc99e50ef00877e4135d0e.jpg">
                </a>
            </div>
        </div>
        <div class="bvh-item">
            <div class="bvh-item-info">
                <h6 class="bvh-item-h3 text-center"><a asp-controller="Song" asp-action="Index">Em Gì Ơi (Single)</a></h6>
                <p class="bvh-item-singer text-center ">Jack,K-Icm</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="col-album-circle">
            <div class="img-container">
                <a href="">
                    <i class="far fa-play-circle"></i>
                    <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                </a>
            </div>
        </div>
        <div class="bvh-item">
            <div class="bvh-item-info">
                <h6 class="bvh-item-h3 text-center"><a asp-controller="Song" asp-action="Index">Con Trai Cưng (Single)</a></h6>
                <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="col-album-circle">
            <div class="img-container">
                <a href="">
                    <i class="far fa-play-circle"></i>
                    <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                </a>
            </div>
        </div>
        <div class="bvh-item">
            <div class="bvh-item-info">
                <h6 class="bvh-item-h3 text-center"><a asp-controller="Song" asp-action="Index">Con Trai Cưng (Single)</a></h6>
                <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="col-album-circle">
            <div class="img-container">
                <a href="">
                    <i class="far fa-play-circle"></i>
                    <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                </a>
            </div>
        </div>
        <div class="bvh-item">
            <div class="bvh-item-info">
                <h6 class="bvh-item-h3 text-center"><a asp-controller="Song" asp-action="Index">Con Trai Cưng (Single)</a></h6>
                <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="col-album-circle">
            <div class="img-container">
                <a href="">
                    <i class="far fa-play-circle"></i>
                    <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                </a>
            </div>
        </div>
        <div class="bvh-item">
            <div class="bvh-item-info">
                <h6 class="bvh-item-h3 text-center"><a asp-controller="Song" asp-action="Index">Con Trai Cưng (Single)</a></h6>
                <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="col-album-circle">
            <div class="img-container">
                <a href="">
                    <i class="far fa-play-circle"></i>
                    <img src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/1/b/1/71b166227f44f5a2ea975e1f2dcf4601.jpg">
                </a>
            </div>
        </div>
        <div class="bvh-item">
            <div class="bvh-item-info">
                <h6 class="bvh-item-h3 text-center"><a asp-controller="Song" asp-action="Index">Con Trai Cưng (Single)</a></h6>
                <p class="bvh-item-singer text-center ">K-Icm,Bray</p>
            </div>
        </div>
    </div>
</div>