
body a:hover {
    color: #7ab014 !important;
    text-decoration: none;
    cursor: pointer !important;
}

.row a {
    color: #454545;
}

.wrapper {
    margin-top: 15px;
    /*    background-color: #f7f7f7;*/
    width: 190px;
    margin-left: 30px;
    text-align: center;
}

.img-container {
    border-radius: 5px;
    height: auto; /** Chiều cao tự động **/
    /** Cách trên dưới 10px và nằm giữa **/
    overflow: hidden; /** DÒNG BẮT BUỘC CÓ **/
    /*    position: relative;*/
    width: 190px;
}

    .img-container a > img {
        width: 100%; /** Hình ảnh rộng 100% so với vùng chứa **/
        transition: all 1s; /** Tạo độ mượt **/
        z-index: 1;
    }

    .img-container:hover img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

h6.bvh-item-h3.text-center > a {
    color: black;
}

h6.bvh-item-h3.text-center {
    margin-top: 10px;
}

    h6.bvh-item-h3.text-center > a:hover {
        text-decoration: none;
        list-style: none;
        color: #65509e;
    }

.img-container > a > i {
    position: absolute;
    color: white;
    font-size: 40px;
    line-height: 180px;
    margin-left: 70px;
}
